name: Auto PR

on:
  push:
    branches-ignore:
      - main
      - 'release/**'

jobs:
  auto-pr:
    uses: Blorkfield/blork-infra/.github/workflows/auto-pr.yml@main
    secrets: inherit
    with:
      package_name: '@blorkfield/obs-overlay'
